In [1]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

In [3]:
data = spark.read.csv('Part1_Crime_data.csv')

In [4]:
data.head(3)

[Row(_c0='X', _c1='Y', _c2='RowID', _c3='CrimeDateTime', _c4='CrimeCode', _c5='Location', _c6='Description', _c7='Inside_Outside', _c8='Weapon', _c9='Post', _c10='District', _c11='Neighborhood', _c12='Latitude', _c13='Longitude', _c14='GeoLocation', _c15='Premise', _c16='VRIName', _c17='Total_Incidents', _c18='Shape'),
 Row(_c0='1420074.13302107', _c1='594160.602354662', _c2='1', _c3='2022/02/26 04:00:00+00', _c4='4E', _c5='200 W MONUMENT ST', _c6='COMMON ASSAULT', _c7=None, _c8='NA', _c9='124', _c10='CENTRAL', _c11='MOUNT VERNON', _c12='39.2975', _c13='-76.6193', _c14='(39.2975,-76.6193)', _c15=None, _c16=None, _c17='1', _c18=None),
 Row(_c0='1411374.22509631', _c1='589791.383964529', _c2='2', _c3='2022/02/26 01:26:30+00', _c4='9S', _c5='2100 FREDERICK AVE', _c6='SHOOTING', _c7='Outside', _c8='FIREARM', _c9='835', _c10='SOUTHWEST', _c11='CARROLLTON RIDGE', _c12='39.2856', _c13='-76.6501', _c14='(39.2856,-76.6501)', _c15='COMMON BUSINESS', _c16='Tri-District', _c17='1', _c18=None)]

In [5]:
schema = StructType([ \
    StructField("X",FloatType(),True), \
    StructField("Y",FloatType(),True), \
    StructField("RowID",IntegerType(),True), \
    StructField("CrimeDateTime", StringType(), True), \
    StructField("CrimeCode", StringType(), True), \
    StructField("Location", StringType(), True), \
    StructField("Description",StringType(),True), \
    StructField("Inside_Outside",StringType(),True), \
    StructField("Weapon",StringType(),True), \
    StructField("Post", IntegerType(), True), \
    StructField("District", StringType(), True), \
    StructField("Neighborhood", StringType(), True), \
    StructField("Latitude",FloatType(),True), \
    StructField("Longitude",FloatType(),True), \
    StructField("GeoLocation",StringType(),True), \
    StructField("Premise", StringType(), True), \
    StructField("VRINAme", StringType(), True), \
    StructField("Total_Incidents", IntegerType(), True), \
    StructField("Shape", IntegerType(), True)
  ])

In [6]:
df= spark.read.csv('Part1_Crime_data.csv', schema=schema)

In [7]:
df.head(2)

[Row(X=None, Y=None, RowID=None, CrimeDateTime='CrimeDateTime', CrimeCode='CrimeCode', Location='Location', Description='Description', Inside_Outside='Inside_Outside', Weapon='Weapon', Post=None, District='District', Neighborhood='Neighborhood', Latitude=None, Longitude=None, GeoLocation='GeoLocation', Premise='Premise', VRINAme='VRIName', Total_Incidents=None, Shape=None),
 Row(X=1420074.125, Y=594160.625, RowID=1, CrimeDateTime='2022/02/26 04:00:00+00', CrimeCode='4E', Location='200 W MONUMENT ST', Description='COMMON ASSAULT', Inside_Outside=None, Weapon='NA', Post=124, District='CENTRAL', Neighborhood='MOUNT VERNON', Latitude=39.29750061035156, Longitude=-76.61930084228516, GeoLocation='(39.2975,-76.6193)', Premise=None, VRINAme=None, Total_Incidents=1, Shape=None)]

In [8]:
df.cache()

DataFrame[X: float, Y: float, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: int, District: string, Neighborhood: string, Latitude: float, Longitude: float, GeoLocation: string, Premise: string, VRINAme: string, Total_Incidents: int, Shape: int]

In [9]:
df.persist()

DataFrame[X: float, Y: float, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: int, District: string, Neighborhood: string, Latitude: float, Longitude: float, GeoLocation: string, Premise: string, VRINAme: string, Total_Incidents: int, Shape: int]

In [10]:
print('Number of Rows:',df.count())

Number of Rows: 513159

In [11]:
df.printSchema()

root
 |-- X: float (nullable = true)
 |-- Y: float (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRINAme: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: integer (nullable = true)

In [12]:
df.show(6)

+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
|        X|        Y|RowID|       CrimeDateTime|CrimeCode|           Location|   Description|Inside_Outside| Weapon|Post| District|    Neighborhood|Latitude|Longitude|       GeoLocation|        Premise|     VRINAme|Total_Incidents|Shape|
+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
|     null|     null| null|       CrimeDateTime|CrimeCode|           Location|   Description|Inside_Outside| Weapon|null| District|    Neighborhood|    null|     null|       GeoLocation|        Premise|     VRIName|           null| null|
|1420074.1| 594160.6|    1|2022/02/26 04:00:...|       4E|  200 W MONUMENT ST|COMMON ASSAULT|          null|     NA| 124|  CENTRAL|    MOUNT VERNON| 39.2975| -76.6193|(39.2975,-76.6193)|           null|        null|              1| null|
|1411374.2| 589791.4|    2|2022/02/26 01:26:...|       9S| 2100 FREDERICK AVE|      SHOOTING|       Outside|FIREARM| 835|SOUTHWEST|CARROLLTON RIDGE| 39.2856| -76.6501|(39.2856,-76.6501)|COMMON BUSINESS|Tri-District|              1| null|
|1411401.1|582761.75|    3|2022/02/26 10:22:...|       4E| 2000 GRINNALDS AVE|COMMON ASSAULT|          null|     NA| 831|SOUTHWEST|    MORRELL PARK| 39.2663| -76.6501|(39.2663,-76.6501)|           null|        null|              1| null|
|1422663.1| 597595.4|    4|2022/02/26 01:11:...|       7A|    400 E OLIVER ST|    AUTO THEFT|          null|     NA| 313|  EASTERN| GREENMOUNT WEST| 39.3069| -76.6101|(39.3069,-76.6101)|           null|        null|              1| null|
|1440496.5| 607767.1|    5|2022/02/26 12:30:...|       4B|5300 PLAINFIELD AVE|  AGG. ASSAULT|          null|  KNIFE| 444|NORTHEAST|       FRANKFORD| 39.3346| -76.5469|(39.3346,-76.5469)|           null|        null|              1| null|
+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
only showing top 6 rows

### 1. What are distinct crime codes?

In [13]:
df.select('CrimeCode').distinct().collect()

[Row(CrimeCode='3P'),
 Row(CrimeCode='3K'),
 Row(CrimeCode='3BJ'),
 Row(CrimeCode='1A'),
 Row(CrimeCode='3M'),
 Row(CrimeCode='5F'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='3NF'),
 Row(CrimeCode='3EF'),
 Row(CrimeCode='3N'),
 Row(CrimeCode='5D'),
 Row(CrimeCode='6K'),
 Row(CrimeCode='3LO'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='7B'),
 Row(CrimeCode='3GO'),
 Row(CrimeCode='3AJF'),
 Row(CrimeCode='8GV'),
 Row(CrimeCode='8AO'),
 Row(CrimeCode='7C'),
 Row(CrimeCode='3AK'),
 Row(CrimeCode='3GK'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='3EO'),
 Row(CrimeCode='3JO'),
 Row(CrimeCode='3F'),
 Row(CrimeCode='1K'),
 Row(CrimeCode='8H'),
 Row(CrimeCode='8CV'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='5A'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='3NK'),
 Row(CrimeCode='3D'),
 Row(CrimeCode='6H'),
 Row(CrimeCode='3LK'),
 Row(CrimeCode='3AJK'),
 Row(CrimeCode='CrimeCode'),
 Row(CrimeCode='3CO'),
 Row(CrimeCode='3L'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='8BV'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='3C'),
 Row(CrimeCode='8I'),
 Row(CrimeCode='3NO'),
 Row(CrimeCode='3JF'),
 Row(CrimeCode='3E'),
 Row(CrimeCode='3LF'),
 Row(CrimeCode='1O'),
 Row(CrimeCode='8J'),
 Row(CrimeCode='3CK'),
 Row(CrimeCode='8BO'),
 Row(CrimeCode='2B'),
 Row(CrimeCode='3JK'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='8GO'),
 Row(CrimeCode='8EV'),
 Row(CrimeCode='3CF'),
 Row(CrimeCode='8EO'),
 Row(CrimeCode='6G'),
 Row(CrimeCode='6A'),
 Row(CrimeCode='9S'),
 Row(CrimeCode='3EK'),
 Row(CrimeCode='8FV'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='3H'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='8FO'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6F'),
 Row(CrimeCode='6E'),
 Row(CrimeCode='3J'),
 Row(CrimeCode='5C'),
 Row(CrimeCode='5G'),
 Row(CrimeCode='8AV'),
 Row(CrimeCode='5E'),
 Row(CrimeCode='3AJO'),
 Row(CrimeCode='3AO'),
 Row(CrimeCode='6B'),
 Row(CrimeCode='8DO'),
 Row(CrimeCode='8CO')]

### 2. Count the number of crimes by the crime codes and order by the resulting counts in descending order

In [14]:
CrimeCode_count=(
    df.groupby("CrimeCode")
      .count()
      .sort("count", ascending=0)
)
CrimeCode_count.show()

+---------+-----+
|CrimeCode|count|
+---------+-----+
|       4E|91650|
|       6D|68427|
|       5A|43928|
|       7A|40274|
|       6J|27636|
|       6G|26858|
|       6E|24300|
|       6C|23227|
|       4C|22438|
|       5D|14971|
|      3AF|14739|
|       4B|14460|
|       4A|13226|
|       3B|10737|
|       4D| 7232|
|       5B| 6475|
|       9S| 5443|
|       6F| 5081|
|       5C| 4917|
|       6B| 4106|
+---------+-----+
only showing top 20 rows

### 3.Which neighborhood had most crimes?

In [15]:
max_crime =(
    df.groupby("Neighborhood")
      .count()
      .sort("count", ascending=0)
)
display(max_crime.take(1))

[Row(Neighborhood='DOWNTOWN', count=17799)]

### 4. Which month of the year had most crimes?

In [16]:
from pyspark.sql.functions import *

date_df= df.select('CrimeDateTime')

In [17]:
#Timestamp String to DateType

date_df=date_df.withColumn("Converted_to_TimeStamp",to_timestamp("CrimeDateTime", "yyyy/MM/dd HH:mm:ss+00"))
date_df.show()

+--------------------+----------------------+
|       CrimeDateTime|Converted_to_TimeStamp|
+--------------------+----------------------+
|       CrimeDateTime|                  null|
|2022/02/26 04:00:...|   2022-02-26 04:00:00|
|2022/02/26 01:26:...|   2022-02-26 01:26:30|
|2022/02/26 10:22:...|   2022-02-26 10:22:00|
|2022/02/26 01:11:...|   2022-02-26 01:11:00|
|2022/02/26 12:30:...|   2022-02-26 12:30:00|
|2022/02/26 05:40:...|   2022-02-26 05:40:00|
|2022/02/26 05:40:...|   2022-02-26 05:40:00|
|2022/02/26 14:32:...|   2022-02-26 14:32:00|
|2022/02/26 03:05:...|   2022-02-26 03:05:00|
|2022/02/26 14:10:...|   2022-02-26 14:10:00|
|2022/02/26 19:30:...|   2022-02-26 19:30:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
|2022/02/26 19:30:...|   2022-02-26 19:30:00|
|2022/02/26 20:45:...|   2022-02-26 20:45:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|
+--------------------+----------------------+
only showing top 20 rows

In [18]:
month_df = date_df.withColumn("Date", to_date(col("Converted_to_TimeStamp"), "yyyy/MM/dd")).withColumn('Month', month("Date"))
month_df.show()

+--------------------+----------------------+----------+-----+
|       CrimeDateTime|Converted_to_TimeStamp|      Date|Month|
+--------------------+----------------------+----------+-----+
|       CrimeDateTime|                  null|      null| null|
|2022/02/26 04:00:...|   2022-02-26 04:00:00|2022-02-26|    2|
|2022/02/26 01:26:...|   2022-02-26 01:26:30|2022-02-26|    2|
|2022/02/26 10:22:...|   2022-02-26 10:22:00|2022-02-26|    2|
|2022/02/26 01:11:...|   2022-02-26 01:11:00|2022-02-26|    2|
|2022/02/26 12:30:...|   2022-02-26 12:30:00|2022-02-26|    2|
|2022/02/26 05:40:...|   2022-02-26 05:40:00|2022-02-26|    2|
|2022/02/26 05:40:...|   2022-02-26 05:40:00|2022-02-26|    2|
|2022/02/26 14:32:...|   2022-02-26 14:32:00|2022-02-26|    2|
|2022/02/26 03:05:...|   2022-02-26 03:05:00|2022-02-26|    2|
|2022/02/26 14:10:...|   2022-02-26 14:10:00|2022-02-26|    2|
|2022/02/26 19:30:...|   2022-02-26 19:30:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
|2022/02/26 19:30:...|   2022-02-26 19:30:00|2022-02-26|    2|
|2022/02/26 20:45:...|   2022-02-26 20:45:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
|2022/02/26 01:28:...|   2022-02-26 01:28:00|2022-02-26|    2|
+--------------------+----------------------+----------+-----+
only showing top 20 rows

In [19]:
m_df =(
    
month_df.groupby("Month")
        .count()
        .sort("count", ascending=0)
)
display(m_df.take(1))

[Row(Month=8, count=46327)]

### 5. What weapons were used?

In [20]:
df.select('Weapon').distinct().collect()

[Row(Weapon='NA'),
 Row(Weapon=None),
 Row(Weapon='HANDS'),
 Row(Weapon='KNIFE'),
 Row(Weapon='OTHER'),
 Row(Weapon='Weapon'),
 Row(Weapon='FIRE'),
 Row(Weapon='FIREARM')]

### 6. Which weapon was used the most?

In [21]:
weapons =(
    df.where("Weapon != 'NA'")
      .groupby("Weapon")
      .count()
      .sort("count", ascending=0)
)
weapons.show()

+-------+-----+
| Weapon|count|
+-------+-----+
|FIREARM|46139|
|  OTHER|30248|
|  KNIFE|19140|
|  HANDS| 7232|
|   FIRE| 2348|
| Weapon|    1|
+-------+-----+

In [22]:
used_weapon=(weapons.select('Weapon').take(1))
print('Most Used Weapon', used_weapon)

Most Used Weapon [Row(Weapon='FIREARM')]